<div data-controller="error" data-error-target="errorMessageSection" hidden>
  <article class="message is-danger">
    <div class="message-header">
      <p>Errors Present</p>
    </div>
    <div id="errorMessageBody" class="message-body" data-error-target="errorMessageBody"></div>
  </article>
</div>
