<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="title is-4">Thank You!</p>
    <p>  <span class="icon has-text-success">
        <i class="fas fa-check-square"></i>
      </span> Your RSVP has been submitted successfully.</p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
