<div data-controller="thank" data-thank-target="thankYouSection" hidden>
  <article class="message is-success">
    <div class="message-header">
      <p>RSVP was successful</p>
    </div>
    <div class="message-body" data-thank-target="thankYouMessageBody">
    </div>
  </article>
</div>
