<section class="hero hero-custom is-bold"></section>
<section class="section">
  <div class="container has-text-centered">
    <p class="subtitle is-4">We're getting married!</p>
    <p class="title is-1">Logan and Bri</p>
    <p class="is-size-5">14.06.2025</p>
  </div>
</section>
<section class="section has-text-centered">
  <div class="container is-max-desktop">
    <div class="columns reverse-columns is-desktop is-vcentered">
      <div
        class="column is-three-quarters-tablet is-three-quarters-mobile is-half-desktop">
        <div class="content is-normal">
          <h3 class="has-text-centered">Our Story</h3>
          <p>We met in 2015 sitting beside eachother in math class.</p>
          <p>We went through University together eventually moving in together
            in
            2019.
          </p>
          <p>We survived covid together and adopted our puppy Nova.</p>
          <p>Then supporting eachother through the first years of our careers
            sharing interests and hobbies.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="is-flex is-justify-content-center">
          <%= image_tag("story.jpg", width: 300)%>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section has-text-centered">
  <div class="container is-max-desktop">
    <div class="columns mobile-columns is-desktop is-vcentered">
      <div class="column">
        <div class="is-flex is-justify-content-center">
          <%= image_tag("proposal.jpg", width: 300)%>
        </div>
      </div>
      <div
        class="column is-three-quarters-tablet is-three-quarters-mobile is-half-desktop">
        <div class="content">
          <h3 class="has-text-centered">The Proposal</h3>
          <p>It happened at a concert in Boulder Colorado.</p>
          <p>We went to see our favourite band Mt. Joy perform.</p>
          <p>When the started playing "bathroom light" I turned to Bri and
            asked.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container  is-max-desktop">
    <div class="section has-text-centered">
      <h2 class="title is-2">The Venue</h2>
      <p class="subtitle is-4">Knottingwood Estates</p>
    </div>
    <div class="section">
      <div class="columns is-mobile is-vcentered">
        <!-- <div class="column">
          <figure class="image">
            <img
              src="https://images.squarespace-cdn.com/content/v1/631b89a445cb3950795608f9/1663094040327-13J16HACDTU0G89MY6XV/DSC09015.jpg"
              alt="Knottingwood Venue">
          </figure>
        </div> -->
        <div class="column">
          <figure class="image">
            <img
              src="https://lh3.googleusercontent.com/p/AF1QipPMNDR4CGOyUgWrGOzlOizO2ulpkvjmv1j5CfnU=s1360-w1360-h1020"
              alt="Knottingwood Venue">
          </figure>
        </div>
      </div>
    </div>
    <div class="section has-text-centered">
      <div class="columns is-mobile">
        <div class="column">
          <p class="subtitle is-4">Address</p>
          <p>
            9661
            Ivan Drive, N0M2A0, Ilderton
          </p>
        </div>
        <div class="column">
          <p class="subtitle is-4">When</p>
          <p>
            June 14 2025, 3:00 PM
          </p>
        </div>
        <div class="column">
          <p class="subtitle is-4">Attire</p>
          <p>
            Formal
          </p>
        </div>
      </div>
    </div>
  </div>
</section>