<section class="hero hero-custom is-bold">
</section>

<section class="section">
<div class="container has-text-centered">
  <h1 class="subtitle is-4">We're getting married</h1>
    <h2 class="title is-1">Logan and Bri</h2>
    <p class="is-size-5">14.05.2025</p>
</div>
</section>

<section class="section is-medium">
<div class="level">
  <div class="level-item">
    <div class="content">
      <p class="title">Our Story</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
      <figure class="image is-128x128">
        <%= image_tag("story.jpg")%>
      </figure>
  </div>
  
</div>
</section>
