<section id="rsvp-form" class="section">
  <div class="container is-max-desktop">
    <h1 class="title has-text-centered">RSVP</h1>
    <%= form_with(model: @rsvp) do |form| %>
      <%= form.hidden_field :step, value: @step %>
      <div class="block is-size-5">Will you be requiring 🚌 bus transportation?</div>
      <div class="block is-size-6">Uber/Lyft/Taxi's will not come to the venue. We will be providing bus transportation to and from Superstore on Oxford and Hyde Park. If you require transportation please let us know (if unsure check yes)</div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <%= button_tag(type: 'submit', class: 'button', name: 'rsvp[bus_required]', value: true, data: { action: 'click->form#submitForm' }) do %>
            Yes
          <% end %>
        </p>
        <p class="control">
          <%= button_tag(type: 'submit', class: 'button', name: 'rsvp[bus_required]', value: false, data: { action: 'click->form#submitForm' }) do %>
            No
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</section>
