<div class="section">
  <div class="gallery-container">
    <% @images.shuffle.each do |image_path| %>
      <div class="gallery-item shadow-lg rounded">
        <%= link_to image_tag(image_path, alt: "Wedding photo") %>
      </div>
    <% end %>
  </div>
</div>
