.wildflower-bottom {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20vh;
  overflow-x: hidden;
}

.wildflower-bottom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('wildflower-bottom.png');
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: contain;

  z-index: -1;
}

.wildflower-horizontal {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 15vh;
  overflow-x: hidden;
}

.wildflower-horizontal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('wildflower-horizontal.png');
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.wildflower-repeat {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 30vh;
  overflow-x: hidden;
}

.wildflower-repeat::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('wildflower-repeat.png');
  background-position: bottom left;
  background-size: contain;
  z-index: -1;
}

.wildflower-repeat-card-background {
  background-image: url('wildflower-repeat.png');
  background-position: bottom left;
  background-size: contain;
}

.hero-custom {
  background: url('https://res.cloudinary.com/ddtorekqd/image/upload/q_auto/f_auto/v1699808839/DSC_2657_l3jbm7.jpg?w=auto&h=auto') top/cover no-repeat;
  height: 80vh;
}

@media screen and (max-width: 820px) {
  .hero-custom {
    /* Change the background position for mobile screens */
    background-position: -100px;
    ;
  }
}

@media screen and (max-width: 425px) {
  .hero-custom {
    /* Change the background position for mobile screens */
    background-position: -175px;
    ;
  }
}

@media screen and (max-width: 375px) {
  .hero-custom {
    /* Change the background position for mobile screens */
    background-position: -100px;
    ;
  }
}

.reverse-columns {
  display: inline
}

.mobile-columns {
  display: inline
}

@media (max-width: 1023px) {
  .reverse-columns {
    display: flex;
    flex-direction: column-reverse;
  }

  .mobile-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .venue-columns .column:not(:last-child) {
    padding: 0 0 3rem 0;
  }
}

.has-background-main {
  background-color: var(--main-color);
}

.has-background-light {
  background-color: var(--main-light-color);
}

.has-background-highlight {
  background-color: var(--main-highlight-color);

}


footer {
  padding: 1rem !important;
}

.hero-hands {
  background: url('https://res.cloudinary.com/ddtorekqd/image/upload/q_auto/f_auto/v1727370680/DSC_2041_websize_nm37dv.jpg?w=auto&h=auto') center/cover no-repeat;
  height: 80vh;
}

@media screen and (max-width: 820px) {
  .hero-hands {
    /* Change the background position for mobile screens */
    background-position: -100px;
    ;
  }
}

@media screen and (max-width: 425px) {
  .hero-hands {
    /* Change the background position for mobile screens */
    background-position: -175px;
    ;
  }
}

@media screen and (max-width: 375px) {
  .hero-hands {
    /* Change the background position for mobile screens */
    background-position: -100px;
    ;
  }
}

/* Setting the fonts */
.hero,
.section,
.footer {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
}

.is-snell {
  font-family: 'Snell Roundhand', cursive;
  font-weight: 700;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.title {
  font-family: 'Snell Roundhand', cursive;
  font-weight: 700;
}

/* gallery.css */
.image-container img {
  width: 100%;
  /* Make the image fill the container */
  height: 100%;
  /* Set the height to fill the container */
  object-fit: cover;
  /* Cover the container while maintaining aspect ratio */
  object-position: center;
  /* Center the image within the container */
}