.hero-custom {
  background: url('https://res.cloudinary.com/ddtorekqd/image/upload/v1698030385/header_rwtmsg.jpg') top/cover no-repeat;
  height: 80vh;
  /* Adjust the height as needed */
}

.reverse-columns {
  display: inline
}

.mobile-columns {
  display: inline
}

@media (max-width: 1023px) {
  .reverse-columns {
    display: flex;
    flex-direction: column-reverse;
  }

  .mobile-columns {
    display: flex;
    flex-direction: column;
  }
}

.has-background-main {
  background-color: var(--main-color);
}

.has-background-light {
  background-color: var(--main-light-color);
}

.has-background-highlight {
  background-color: var(--main-highlight-color);

}

.hero-venue {
  background: url('https://res.cloudinary.com/ddtorekqd/image/upload/v1698030609/2023-06-11_jykzxk.jpg') center/cover no-repeat;
  height: 50vh;
  /* Adjust the height as needed */
}